<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Vue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Vuetify CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.9.0/vuetify.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Vuetify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.9.0/vuetify.min.js"></script>
    <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vue-components.js" asp-append-version="true"></script>
</head>
<body>
    <div id="app">
        <v-app>
            <header id="main-header">
                @await Component.InvokeAsync("Menu")
            </header>

            <v-main class="pa-4">
                <div v-if="!viewState.isClientRouteActive">
                    @RenderBody()
                </div>

                <router-view></router-view>
            </v-main>

            @*@await Html.PartialAsync("_Footer")*@
        </v-app>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
