<v-app>
  <v-layout>
      <v-app-bar color="primary">
          <v-app-bar-nav-icon 
              v-if="isMobile" 
              @click="toggleMobileDrawer"
          ></v-app-bar-nav-icon>

          <v-app-bar-title>Trang Quản Trị</v-app-bar-title>
          <v-spacer></v-spacer>
          
          <v-tooltip location="bottom">
            <template v-slot:activator="{ props }">
              <v-btn v-bind="props" icon="mdi-logout" @click="handleLogout"></v-btn>
            </template>
            <span>Đăng xuất</span>
          </v-tooltip>
      </v-app-bar>

      <v-navigation-drawer
          v-model="drawer"
          :rail="rail"
          :temporary="isMobile"   :permanent="!isMobile"  >
          <div v-if="!isMobile" class="d-flex justify-end pa-2">
              <v-btn
                  variant="text"
                  :icon="rail ? 'mdi-chevron-right' : 'mdi-chevron-left'"
                  @click="toggleRail"
              ></v-btn>
          </div>

          <v-divider v-if="!isMobile"></v-divider>
          <v-list density="compact" nav>
              <router-link to="/manage" custom v-slot="{ navigate }">
                <v-list-item 
                    @click="navigate" 
                    prepend-icon="mdi-view-dashboard" 
                    title="Báo cáo" 
                    value="dashboard"
                ></v-list-item>
              </router-link>
              <router-link to="/manage/category" custom v-slot="{ navigate }">
                  <v-list-item 
                    @click="navigate"
                    prepend-icon="mdi-folder-outline"
                    title="Danh mục"
                    value="category">
                  </v-list-item>
              </router-link>
              <router-link to="/manage/products" custom v-slot="{ navigate }">
                <v-list-item 
                    @click="navigate" 
                    prepend-icon="mdi-package-variant" 
                    title="Sản phẩm" 
                    value="products"
                ></v-list-item>
              </router-link>

              <v-list-item prepend-icon="mdi-cart" title="Đơn hàng" value="orders"></v-list-item>
          </v-list>
          
      </v-navigation-drawer>

      <v-main>
          <router-view></router-view>
      </v-main>
  </v-layout>
</v-app>