<v-container fluid>
    <v-card>
        <v-card-title class="d-flex align-center pe-2">
            Quản lý Sản phẩm
            <v-spacer></v-spacer>
            <v-btn color="primary" prepend-icon="mdi-plus">Thêm Sản Phẩm</v-btn>
        </v-card-title>

        <v-divider></v-divider>

        <v-data-table-server
            v-model:items-per-page="pageSize"
            :headers="headers"
            :items="products"
            :items-length="totalItems"
            :loading="loading"
            @update:options="fetchProducts"
        >
            <template v-slot:item.stt="{ index }">
                {{ (currentPage - 1) * pageSize + index + 1 }}
            </template>
            <template v-slot:item.imageUrl="{ item }">
                <v-avatar class="my-2" rounded="0">
                    <v-img :src="item.images[0].url" contain></v-img>
                </v-avatar>
            </template>
            <template v-slot:item.description="{ item }">
                <span>{{ truncateText(item.description, 50) }}</span>
            </template>
            <template v-slot:item.discount="{ item }">
                <v-chip :color="item.discount > 0 ? 'green' : 'red'">
                    {{ item.discount }} %
                </v-chip>
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon @click="editProduct(item)" class="me-2" color="blue">mdi-pencil</v-icon>
                <v-icon @click="deleteProduct(item)" color="red">mdi-delete</v-icon>
            </template>
            
        </v-data-table-server>
    </v-card>
</v-container>