<v-container>
    <h1 class="text-h4 mb-4">Giỏ hàng của bạn</h1>
    
    <v-row v-if="!cartItems || cartItems.length === 0">
        <v-col>
            <p>Chưa có sản phẩm nào trong giỏ hàng.</p>
        </v-col>
    </v-row>

    <v-row v-else v-for="item in cartItems" :key="item.id" align="center">
        <v-col cols="12" sm="2">
            <v-img :src="item.image" height="80" contain></v-img>
        </v-col>
        <v-col cols="12" sm="4">
            <div>{{ item.name }}</div>
            <div class="text-grey">{{ item.price }}đ</div>
        </v-col>
        <v-col cols="6" sm="3">
            <v-text-field
                v-model.number="item.quantity"
                type="number"
                min="1"
                density="compact"
                style="max-width: 100px"
            ></v-text-field>
        </v-col>
        <v-col cols="6" sm="3">
            <v-btn icon="mdi-delete" @click="removeItem(item)"></v-btn>
        </v-col>
    </v-row>

    <v-row v-if="cartItems && cartItems.length > 0" class="mt-4">
        <v-col class="text-right">
            <v-btn color="success" size="large" @click="checkout">
                Thanh toán
            </v-btn>
        </v-col>
    </v-row>
</v-container>