<v-container fluid>
    <v-row align="center" class="mb-4">
        <v-col cols="auto">
            <v-btn icon="mdi-arrow-left" variant="text" @click="goBack"></v-btn>
        </v-col>

        <v-col>
            <h1 class="text-h4 title">Giỏ hàng của bạn</h1>
        </v-col>
    </v-row>
    <v-row v-if="!cartItems || cartItems.length === 0">
        <v-col>
            <p>Chưa có sản phẩm nào trong giỏ hàng.</p>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12" sm="8">
            <template v-for="(item, index) in cartItems" :key="item.id">
                <v-row class="py-4">

                    <v-col cols="4" sm="3">
                        <v-img :src="item.image" aspect-ratio="1" cover height="100%"></v-img>
                    </v-col>

                    <v-col cols="8" sm="9" class="position-relative d-flex flex-column">

                        <v-btn @click="removeItem(item)" variant="text" prepend-icon="mdi-delete-outline" size="small"
                            class="text-none" style="position: absolute; top: 0; right: 0; z-index: 10;">
                            Xóa
                        </v-btn>

                        <div class="flex-grow-1 pr-12">
                            <div class="text-caption text-grey">SKU: {{ item.sku }}</div>
                            <div class="text-subtitle-1 font-weight-bold mb-2">
                                {{ item.name }}
                            </div>
                            <div class="text-body-2">
                                <span class="font-weight-bold me-1">Màu:</span>
                                <span class="text-grey">{{ item.color }}</span>
                            </div>
                            <div class="text-body-2">
                                <span class="font-weight-bold me-1">Size:</span>
                                <span class="text-grey">{{ item.size }}</span>
                            </div>
                        </div>

                        <v-row align="center" justify="space-between" class="mt-4" no-gutters>
                            <v-col cols="auto">
                                <v-select label="" v-model.number="item.quantity"
                                    :items="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" density="compact"
                                    style="max-width: 100px;"></v-select>
                            </v-col>
                            <v-col cols="auto">
                                <div class="text-subtitle-1 font-weight-bold">
                                    {{ $formatCurrency(item.price) }}
                                </div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-divider v-if="index < cartItems.length - 1"></v-divider>
            </template>
        </v-col>
        <v-col cols="12" sm="4">
            <v-card class="sticky-card" outlined>
                <v-card-title class="text-h6">
                    Tóm tắt đơn hàng
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text>
                    <v-row dense class="mb-2">
                        <v-col>Tạm tính</v-col>
                        <v-col class="text-right font-weight-medium">
                            1000000
                        </v-col>
                    </v-row>

                    <v-row dense class="mb-2">
                        <v-col>Phí vận chuyển</v-col>
                        <v-col class="text-right font-weight-medium">
                            50000
                        </v-col>
                    </v-row>
                    <v-row dense>
                        <v-col>Thuế (10%)</v-col>
                        <v-col class="text-right font-weight-medium">
                            40000
                        </v-col>
                    </v-row>

                    <v-divider class="my-3"></v-divider>

                    <v-row dense class="text-h6">
                        <v-col>Tổng cộng</v-col>
                        <v-col class="text-right">
                            15000000
                        </v-col>
                    </v-row>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions class="pa-4">
                    <v-btn class="btn-main" variant="outlined" size="large" @click="checkout" block>
                        Tiến hành Thanh toán
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</v-container>