<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.9.0/vuetify.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css">
    
</head>
<body>
    <div id="admin-app">
        <v-app>
            <v-main class="d-flex align-center justify-center">
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
            </v-main>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.9.0/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="module" src="~/js/admin/admin-main.js"></script>
</body>
</html>